/* Couleurs nordiques */
:root {
  --couleur-fond: #f8f8f8;
  --couleur-texte: #393f81;
  --couleur-bouton: #393f81;
  --couleur-bouton-hover: #e4e4e4;
}

/* Réinitialisation des styles de base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles pour le conteneur */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: var(--couleur-fond);
}

/* Styles pour la section */
section {
  width: 100%;
  text-align: center;
}

/* Styles pour les éléments de formulaire */
.form-text {
  color: var(--couleur-texte);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-champs {
  position: relative;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e4e4e4;
  color: var(--couleur-texte);
  font-size: 18px;
}

.form-label {

  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--couleur-texte);
  font-size: 18px;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {

  top: -10px;
  font-size: 14px;
  color: var(--couleur-bouton);

}

.btn-auth {

  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--couleur-bouton);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;

}

.btn-auth:hover {

  background-color: var(--couleur-bouton-hover);
  cursor: pointer;
  
}

/* Styles pour les liens */
a {
  color: var(--couleur-texte);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

  